
<template>
  <article class="Credits">
    <h2>Céline Chamiot-Poncet & Coralie Chaffanjon</h2>
  </article>
</template>

<script>

export default {
  name: 'credits'
}
</script>

<style scoped>

.Credits {

  position: absolute;
  bottom: 6%;
  left: 6%;
  color: white;
  font-weight: 700;
}


@media all and (max-width: 1250px) {


  .Credits{
    display: none;
  }
}
</style>
