<template>
<section class="slider">
  <home></home>
  <preservatif></preservatif>
  <stade></stade>
  <femmes></femmes>
  <poufs></poufs>
  <flamme></flamme>
  <records></records>
</section>
</template>

<script>
import Home from './Slides/Home'
import Preservatif from './Slides/Preservatif'
import Stade from './Slides/Stade'
import Femmes from './Slides/Femmes'
import Poufs from './Slides/Poufs'
import Flamme from './Slides/Flamme'
import Records from './Slides/Records'

export default {
  name: 'slider',
  components: {
    Home,
    Preservatif,
    Stade,
    Femmes,
    Poufs,
    Flamme,
    Records
  },
  data () {
    return {
      msg: 'Je suis un slider cool'
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

.slider {
  height: 100vh;
  width: 100vw;
}

</style>
