<template>
  <div id="app">
    <slider></slider>
  </div>
</template>

<script>
import Slider from './components/Slider'
import './assets/css/common/reset.css'

export default {
  name: 'app',
  components: {
    Slider
  }
}

</script>

<style>
body {
  overflow: hidden;
}

#app {
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
</style>
