
<template>
  <article class="Femmes Slide Slide-pink">

    <section class="Slide_container">

      <section class="Slide_title">
        <h1>
          <span>LES             </span>
          <span>FEMMES          </span>
          <span>AUX JEUX        </span>
        </h1>
        <h2> Pas tout à fait égalitaire ! </h2>
      </section>

      <article class="Femmes_container">

        <section class="Femmes_season Femmes_spring">
          <article class="Femmes_box">
            <p class="Femmes_title">RIO - 1924</p>
            <div class="Femmes_chart"></div>
            <p class="Femmes_pourcent">80%</p>
          </article>

          <article class="Femmes_box">
            <p class="Femmes_title">TOKYO - 1972</p>
            <div class="Femmes_chart"></div>
            <p class="Femmes_pourcent">80%</p>
          </article>

          <article class="Femmes_box">
            <p class="Femmes_title">LOL - 2014</p>
            <div class="Femmes_chart"></div>
            <p class="Femmes_pourcent">80%</p>
          </article>
        </section>

        <section class="Femmes_season Femmes_winter Femmes-disable">
          <article class="Femmes_box">
            <p class="Femmes_title">CHAMONIX - 1924</p>
            <div class="Femmes_chart"></div>
            <p class="Femmes_pourcent">80%</p>
          </article>

          <article class="Femmes_box">
            <p class="Femmes_title">JAPON - 1972</p>
            <div class="Femmes_chart"></div>
            <p class="Femmes_pourcent">80%</p>
          </article>

          <article class="Femmes_box">
            <p class="Femmes_title">SOTCHI - 2014</p>
            <div class="Femmes_chart"></div>
            <p class="Femmes_pourcent">80%</p>
          </article>
        </section>

        <section class="Femmes_pager">

        </section>

      </article>

    </section>

    <credits></credits>
  </article>
</template>

<script>
import Credits from './../Credits'
import './../../assets/css/slide.css'

export default {
  name: 'femmes',
  components: {
    Credits
  }
}
</script>

<style scoped>

.Femmes-disable {
  display: none !important;
}

.Femmes_container {
  display: flex;
  justify-content: center;
  align-items: center;
  //background-color: blue;
  width: 90%;
}

.Femmes_season {
  //background-color: green;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: 100%;
}

.Femmes_box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  padding-bottom: 30px;
}

.Femmes_box:last-child {
  padding-bottom: 0;
}

.Femmes_chart {
  width: 50%;
  height: 100%;
  background: transparent;
  box-sizing: border-box;
  border: 3px solid white;
}


.Femmes_title {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-width: 320px;
  font-weight: 700;
  font-size: 35px;
  color: #3ae7ee;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.17);
}

.Femmes_pourcent {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100px;
  font-weight: 700;
  font-size: 35px;
  color: white;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.17);
}


@media all and (max-width: 1350px) {

  .Femmes_box {
    flex-direction: column;
    height: 150px;
    padding-bottom: 60px;
  }

  .Femmes_chart {
    width: 100%;
    height: 60px;
  }

  .Femmes_title {
    width: 100%;
    justify-content: center;
  }

  .Femmes_pourcent {
    width: 100%;
  }

}


@media all and (max-width: 1024px) {

  .Femmes_container {
    display: none;
  }

}

</style>
