
<template>
  <article class="Flamme Slide Slide-blue">

    <section class="Slide_container">

      <section class="Slide_title">
        <h1>
          <span>LA              </span>
          <span>FLAMME          </span>
          <span>OLYMPIQUE       </span>
        </h1>
        <h2>La plus grand athlète des jeux</h2>
      </section>

      <article class="Flamme_container">

        <img src="./../../assets/img/slide5.svg" alt="Slide Flamme">

        <p class="Flamme_km"><span>281 875</span> km</p>

        <span class="Flamme_line"></span>

      </article>

    </section>

    <credits></credits>
  </article>
</template>

<script>
import Credits from './../Credits'
import './../../assets/css/slide.css'

export default {
  name: 'flamme',
  components: {
    Credits
  }
}
</script>

<style scoped>

.Flamme_container {
  position: relative;
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Flamme_container img {
  width: 85%;
  max-height: 100%;
}

.Flamme_line {
  position: absolute;
  top:50%;
  left:0;
  right:0;
  margin: 0 auto;
  background-color: #9031b1;
  height: 3px;
  width: 40%;
  transform: translateY(-50%) translateX(-20%) rotate(-20deg);;
}

.Flamme_km {
  position: absolute;
  bottom:0;
  left:55px;
  font-size: 45px;
  color: #ff3ae9;
  font-weight: 700;
  transform: translateY(100%);
}


@media all and (max-width: 1250px) {

  .Flamme_km {
    font-size: 30px;
  }

}


@media all and (max-width: 1024px) {

  .Flamme_container {
    display: none;
  }

  .Flamme_km {
    font-size: 30px;
  }

}


</style>
