<template>
  <article class="Home Slide Slide-pink">

    <section class="Slide_container">

        <article class="Home_container">

          <p class="Home_title">
            <span>Les chiffres</span>   <br>
            <span>insolites</span>      <br>
            <span>des Jeux</span>       <br>
          </p>

          <div class="Home_game"></div>
        </article>

    </section>

    <credits></credits>

  </article>
</template>

<script>
import Credits from './../Credits'
import './../../assets/css/slide.css'

export default {
  name: 'home',
  components: {
    Credits
  }
}
</script>

<style scoped>

.Home_container {
  position: absolute;
  top: 50%;
  left:0;
  right:0;
  margin: 0 auto;
  height: 85%;
  text-align: center;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Home_title{
  font-weight: 700;
  text-transform: uppercase;
  color: #ff5beb;
}

.Home_title span:nth-of-type(1){
  font-size: 101px;
}
.Home_title span:nth-of-type(2){
  font-size: 136px;
}
.Home_title span:nth-of-type(3){
  font-size: 149px;
}

.Home_game {
  margin: 0 auto;
  width: 220px;
  height: 100px;
  background-image: url('./../../assets/img/jologo.svg');
  background-position: center center;
  background-repeat: no-repeat;
}

@media all and (max-width: 1250px) {

  .Home_container {
    height: 80%;
  }

  .Home_title span:nth-of-type(1){
    font-size: 82px;
  }
  .Home_title span:nth-of-type(2){
    font-size: 110px;
  }
  .Home_title span:nth-of-type(3){
    font-size: 120px;
  }

}

@media all and (max-width: 1024px) {

  .Home_container {
    height: 65%;
  }

  .Home_title span:nth-of-type(1){
    font-size: 60px;
  }
  .Home_title span:nth-of-type(2){
    font-size: 80px;
  }
  .Home_title span:nth-of-type(3){
    font-size: 90px;
  }

  .Home_game {
    width: 200px;
    height: 80px;
  }

}

</style>
