
<template>
  <article class="Poufs Slide Slide-purple">

    <section class="Slide_container">

      <section class="Slide_title">
        <h1>
          <span>LES             </span>
          <span>POUFS           </span>
          <span>DE RIO          </span>
        </h1>
        <h2> Le confort avant les habitants ! </h2>
      </section>

      <article class="Poufs_container">

        <img src="./../../assets/img/slide4-1.svg" alt="Slide Poufs">

        <img src="./../../assets/img/slide4-2.svg" alt="Slide Poufs">

        <p class="Poufs_nb">11350 <br> POUFS </p>

        <p class="Poufs_cost"><span>67800</span> €</p>

      </article>

    </section>

    <credits></credits>
  </article>
</template>

<script>
import Credits from './../Credits'
import './../../assets/css/slide.css'

export default {
  name: 'poufs',
  components: {
    Credits
  }
}
</script>

<style scoped>

.Poufs_container {
  position: relative;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Poufs_container img {
  width: 100%;
  max-height: 100%;
}

.Poufs_nb {
  position: absolute;
  top:0;
  left: -70px;
  font-size: 49px;
  font-weight: 700;
  color: #ffd832;
  width: 100%;
  text-transform: uppercase;
  transform: translateY(-50%);
}

.Poufs_cost {
  position: absolute;
  bottom:0;
  left: 0;
  right:0;
  margin: 0 auto;
  text-align: center;
  font-size: 49px;
  font-weight: 700;
  color: #ffd832;
  text-transform: uppercase;
  transform: translateY(90%);
}

@media all and (max-width: 1250px) {

  .Poufs_nb {
    font-size: 30px;
  }

  .Poufs_cost {
    font-size: 39px;
  }

}

@media all and (max-width: 1024px) {

  .Poufs_container {
    display: none;
  }

}

</style>
