
<template>
  <article class="Preservatif Slide Slide-blue">

    <section class="Slide_container">

      <section class="Slide_title">
          <h1>
            <span>LES             </span>
            <span>PRÉSERVATIFS    </span>
            <span>DES J.O.        </span>
          </h1>
          <h2> Plaisir assuré ! </h2>
      </section>

      <article class="Preservatif_container">

        <article class="Preservatif_city">
          <p>Londre</p>
          <p>Rio</p>
        </article>

        <article class="Preservatif_nba">
          <p>10568</p>
          <p>10500</p>
        </article>

        <img src="./../../assets/img/slide1.svg" alt="Slide 1 Préservatif aux JO">

        <article class="Preservatif_nbp">
          <p>150000</p>
          <p>450000</p>
        </article>

      </article>

    </section>

    <credits></credits>
  </article>
</template>

<script>
import Credits from './../Credits'
import './../../assets/css/slide.css'

export default {
  name: 'preservatif',
  components: {
    Credits
  }
}
</script>

<style scoped>

.Preservatif_container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 680px;
  height: 80%;

}

.Preservatif_container img {
  max-height: 100%;
  width: 100%;
}

.Preservatif_city {
  position: absolute;
  top:-3%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 41px;
  color: #9031b1;
  font-weight: 700;
  text-transform: uppercase;
}

.Preservatif_nba {
  position: absolute;
  top:50%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 26px;
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 2px 2px 0px rgba(0,0,0,0.17);
}

.Preservatif_nba p:first-child {
  padding-left: 130px;
}

.Preservatif_nba p:last-child {
  padding-right: 130px;
}


.Preservatif_nbp {
  position: absolute;
  bottom:-3%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 51px;
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 2px 2px 0px rgba(0,0,0,0.17);
}

@media all and (max-width: 1250px) {

  .Preservatif_nbp {
    font-size: 41px;
  }

  .Preservatif_nbp p:first-child {
    margin-left: 50px;
  }

  .Preservatif_nbp p:last-child {
    margin-right: 50px;
  }

  .Preservatif_city {
    font-size: 31px;
  }

  .Preservatif_city p:first-child {
    margin-left: 50px;
  }

  .Preservatif_city p:last-child {
    margin-right: 50px;
  }

  .Preservatif_nba {
    font-size: 20px;
  }

  .Preservatif_nba p:first-child {
    padding-left: 180px;
  }

  .Preservatif_nba p:last-child {
    padding-right: 180px;
  }
}

@media all and (max-width: 1024px) {

  .Preservatif_container {
    display: none;
  }

}

</style>
