
<template>
  <article class="Records Slide Slide-yellow">

    <section class="Slide_container">

      <section class="Slide_title">
        <h1>
          <span>LES           </span>
          <span>RECORDS       </span>
          <span>DU 100M       </span>
        </h1>
        <h2>Toujours plus vite !</h2>
      </section>

      <article class="Records_container">

        <img src="./../../assets/img/slide6-2.svg" alt="Slide Usain Bolt">

        <img src="./../../assets/img/slide6.svg" alt="Slide Usain Bolt ">

      </article>

    </section>

    <credits></credits>
  </article>
</template>

<script>
import Credits from './../Credits'
import './../../assets/css/slide.css'

export default {
  name: 'records',
  components: {
    Credits
  }
}
</script>

<style scoped>

.Records_container {
  position: relative;
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Records_container img {
  max-height: 100%;
}

.Records_container img:first-child {
  width: 30%;
}

.Records_container img:last-child {
  width: 70%;
}

@media all and (max-width: 1250px) {

  .Records_container {
    width: 60%;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
  }

  .Records_container img:first-child {
    padding-top: 50px;
    width: 30%;
  }

  .Records_container img:last-child {
    width: 100%;
  }

}

@media all and (max-width: 1024px) {

  .Records_container {
    display: none;
  }

}

</style>
