
<template>
  <article class="Stade Slide Slide-yellow">

    <section class="Slide_container">

      <section class="Slide_title">
        <h1>
          <span>LA              </span>
          <span>TAILLE          </span>
          <span>DES STADES      </span>
        </h1>
        <h2> Plus c'est grand, plus on est content ! </h2>
      </section>

      <article class="Stade_container">

        <article class="Stade_box">
           <p class="Stade_places">78000</p>
           <span>Places</span>
           <div class="Stade_chart"></div>
           <p class="Stade_name">RIO - 2016</p>
        </article>

        <article class="Stade_box">
          <p class="Stade_places">78000</p>
          <span>Places</span>
          <div class="Stade_chart"></div>
          <p class="Stade_name">RIO - 2016</p>
        </article>

        <article class="Stade_box">
          <p class="Stade_places">78000</p>
          <span>Places</span>
          <div class="Stade_chart"></div>
          <p class="Stade_name">RIO - 2016</p>
        </article>

        <article class="Stade_box">
          <p class="Stade_places">78000</p>
          <span>Places</span>
          <div class="Stade_chart"></div>
          <p class="Stade_name">RIO - 2016</p>
        </article>

        <article class="Stade_box">
          <p class="Stade_places">78000</p>
          <span>Places</span>
          <div class="Stade_chart"></div>
          <p class="Stade_name">RIO - 2016</p>
        </article>

        <article class="Stade_box">
          <p class="Stade_places">78000</p>
          <span>Places</span>
          <div class="Stade_chart"></div>
          <p class="Stade_name">RIO - 2016</p>
        </article>

      </article>

    </section>

    <credits></credits>
  </article>
</template>

<script>
import Credits from './../Credits'
import './../../assets/css/slide.css'

export default {
  name: 'stade',
  components: {
    Credits
  }
}
</script>

<style scoped>


.Stade_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.Stade_box {
   display: flex;
   flex-direction: column;
   padding-right: 20px;
   text-align: center;
   width: 13%;
}

.Stade_chart {
  height: 200px;
  width: 100%;
  background-color: #9031b1;
  border: 2px solid white;
  margin-top: 10px;
}

.Stade_box span {
   font-size: 12px;
   color:white;
   font-weight: 700;
 }

.Stade_name {
   padding-top: 20px;
   font-size: 12px;
   color: #9031b1;
   text-transform: uppercase;
 }

.Stade_places {
   font-size: 45px;
   color:white;
   text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.17);
 }


@media all and (max-width: 1250px) {
  .Stade_places {
    font-size: 30px;
  }
}


@media all and (max-width: 1024px) {

  .Stade_container {
    display: none;
  }

}
</style>
