.Slide {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Slide_container {
    position: relative;
    width: calc( 100% - 300px);
    height: 80%;
    box-sizing: content-box;
    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: 0px 0px 40px 54px rgba(119, 119, 119, 0.08);
    -moz-box-shadow: 0px 0px 40px 54px rgba(119, 119, 119, 0.08);
    -webkit-box-shadow: 0px 0px 40px 54px rgba(119, 119, 119, 0.08);
}

.Slide_title {
    position: absolute;
    top:0;
    left:0;
    transform: translateY(-30%) translateX(-10%);
    display: flex;
    flex-direction: column;
}

.Slide_title span {
    display: block;
}

.Slide_title h1 {
    font-size: 40px;
    line-height: 50px;
    text-transform: uppercase;
    font-weight: 700;
    padding-bottom: 10px;
    letter-spacing: 0.2em;
    display: flex;
    flex-direction: column;
}

.Slide_title h2 {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
    letter-spacing: 0.2em;
}

.Slide-pink {
    background-color: #ff3ae9;
}

.Slide-pink .Slide_title h1{
    color:#3ae7ee;
}

.Slide-blue {
    background-color: #3ae7ee;
}

.Slide-blue .Slide_title h1{
    color:#ff3ae9;
}

.Slide-yellow {
    background-color: #ffd832;
}

.Slide-yellow .Slide_title h1{
    color:#9031b1;
}

.Slide-purple {
    background-color: #9031b1;
}

.Slide-purple .Slide_title h1{
    color:#ffd832;
}


@media all and (max-width: 1550px) {


    .Slide_title {
        position: absolute;
        top:0;
        left:0;
        transform: translateY(-50%) translateX(-30px);
    }

    .Slide_title span {
        margin-right: 15px;
    }

    .Slide_title h1 {
        font-size: 40px;
        line-height: 40px;
        text-transform: uppercase;
        font-weight: 700;
        padding-bottom: 10px;
        letter-spacing: 0.2em;
        flex-direction: row;
    }

    .Slide_title h2 {
        font-size: 15px;
        text-transform: uppercase;
        font-weight: 700;
        color: white;
        letter-spacing: 0.2em;
    }
}


@media all and (max-width: 1200px) {


    .Slide_title h1 {
        font-size: 30px;
    }

    .Slide_title h2 {
        font-size: 15px;
    }
}